<literal><include file="public@header" /></literal>
</head>
<body>

<div class="wrap js-check-wrap">

    <ul class="nav nav-tabs">
        <li class="active"><a href="javascript:void(0)">列表</a></li>
        <li><a href="<literal>{:url(</literal>'{:convertUnderline($tableName)}<literal>/add')}</literal>">新增</a></li>
    </ul>

    <form id="searchForm" class="well m-sch_condition form-inline margin-top-20" method="get" action="<literal>{:url(</literal>'{:convertUnderline($tableName)}<literal>/index')}</literal>">
        <input type="hidden" id="page" name="page">
        <div class="list">
        <foreach name="fields" item="field" key="fieldkey">
        <if $field.type == "eq" || $field.type == "like">

            <div class="item">
                <label>{$field.name}：</label>
                <input type="text" class="form-control" id="{$fieldkey}" name="{$fieldkey}" value="<literal>{:input('request.</literal>{$fieldkey}<literal>','')}</literal>">
            </div>
        <elseif $field.type == "in">

            <div class="item">
                <label>{$field.name}：</label>
                <literal>{</literal>${:convertUnderlineAll($fieldkey,false)}= (isset($_GET['{$fieldkey}']) ? $_GET['{$fieldkey}'] : []);<literal>}</literal>
                <select id="{$fieldkey}" class="selectpicker bla bla bli"  data-live-search="true" multiple name="{$fieldkey}[]" >
                    <option value="1" <literal><if</literal> in_array(1,${:convertUnderlineAll($fieldkey,false)})>selected="selected"<literal></if></literal> >样式</option>
                </select>
            </div>
        <elseif $field.type == "time">

            <div class="item2">
                <label>{$field.name}：</label>
                <literal>{$start</literal>{:convertUnderlineAll($fieldkey)}<literal> = (int)input('request.start_</literal>{$fieldkey}<literal>');}</literal>
                <input class="form-control js-bootstrap-datetime" type="text" autocomplete="off" id="start_{$fieldkey}"  value="<literal>{</literal>$start{:convertUnderlineAll($fieldkey)}?date('Y-m-d H:i',$start{:convertUnderlineAll($fieldkey)}):''<literal>}</literal>">
                <input id="start_{$fieldkey}_hid" type="hidden" name="start_{$fieldkey}" value="$start{:convertUnderlineAll($fieldkey)}" >
                -
                <literal>{</literal>$end{:convertUnderlineAll($fieldkey)} = (int)input('request.end_{$fieldkey}');<literal>}</literal>
                <input class="form-control js-bootstrap-datetime" type="text" autocomplete="off" id="end_{$fieldkey}"  value="<literal>{</literal>$end{:convertUnderlineAll($fieldkey)}?date('Y-m-d H:i',$end{:convertUnderlineAll($fieldkey)}):''<literal>}</literal>">
                <input id="end_{$fieldkey}_hid" type="hidden" name="end_{$fieldkey}" value="<literal>{</literal>$end{:convertUnderlineAll($fieldkey)}<literal>}</literal>">
            </div>
        </if>
        </foreach>

        </div>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="搜索"/>
        </div>
    </form>

    <table class="table table-hover table-bordered" style="text-align: center">
        <thead>
            <tr>
        <foreach name="fields" item="field">
        <th style="text-align: center">{$field.name}</th>
        </foreach>
        <th style="text-align: center" width="400">操作</th>
            </tr>
        </thead>
        <tbody>
        <literal><foreach name="list.data" item="vo"></literal>
            <tr>
        <foreach name="fields" item="field" key="fieldkey">
        <literal><td>{$vo.</literal>{$fieldkey}}</td>
        </foreach>
        <td>
                    <a href="<literal>{:url(</literal>'{:convertUnderline($tableName)}<literal>/edit?id='.$vo.id)}</literal>">编辑</a>
                    <a href="<literal>{:url(</literal>'{:convertUnderline($tableName)}<literal>/delete?id='.$vo.id)}</literal>">删除</a>
                </td>
            </tr>
        <literal></foreach></literal>
        </tbody>
    </table>

    <div class="pagination">
        <literal>{$page}</literal>
    </div>
</div>

<literal>
<script>
    var current = {$list.current_page};
    var lastpage = {$list.last_page};
    $('.page-link').attr('onclick','jumpPage(this)');
    $('.page-link').attr('href','javascript:void(0)');

    function jumpPage(obj) {
        var a =  $(obj).html();
        if(a == current){
            return;
        }

        if(a == '»'){
            if(current >= lastpage){
                return;
            }else{
                a = current + 1;
            }
        }

        if(a == '«'){
            if(current <= 1){
                return;
            }else{
                a = current - 1;
            }
        }
        $('#page').val(a);
        $('#searchForm').submit();
    }
</script>
</literal>

<literal><script></literal>
<foreach name="fields" item="field" key="fieldkey">
<if $field.type == 'time'>

    $('#start_{$fieldkey}').change(function () {
        $('#start_{$fieldkey}_hid').val(dateToTimestamp($('#start_{$fieldkey}').val())/1000);
    });

    $('#end_{$fieldkey}').change(function () {
        $('#end_{$fieldkey}_hid').val(dateToTimestamp($('#end_{$fieldkey}').val())/1000);
    });
</if>
</foreach>
<literal></script></literal>

</body>
</html>