<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThinkCMF5.0 代码生成</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <style>
        #field-box{padding: 20px}
    </style>
</head>
<body>
<h1 style="background: #0B90C4;margin: 0;text-align: center;height: 100px;line-height: 100px;">ThinkCMF5.0 代码生成</h1>

<div style="height: 120px;padding: 30px 20px;border: 1px solid #666666">
    <label>请选择数据表：</label>
    <?php $tableName = input('request.table','');?>
    <div class="input-group">
        <div class="input-group-btn">
            <select id="choose_table" class="selectpicker bla bla bli"  data-live-search="true" onchange="changeTable()" >
                <option value="" >请选择</option>
                <foreach name="tableList" item="vo">
                    <option value="{$vo}" <if $vo == $tableName>selected="selected"</if> >{$vo}</option>
                </foreach>
            </select>
        </div>
        <input type="text" class="form-control" placeholder="数据表功能名称" style="width: 250px">
    </div>
</div>

<div id="field-box">

    <foreach name="fields" item="field">
        <div style="margin-bottom: 20px">
            <label>选择字段{$field}验证规则</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <select id="choose_table" class="selectpicker bla bla bli"  data-live-search="true" multiple onchange="changeVerify(this,'{$field}')">
                        <option value="" >请选择</option>
                        <foreach name="verify" item="vo" key="key">
                            <option value="{$key}-{$vo.name}-{$vo.type}-{$vo.examples}">{$vo.name}</option>
                        </foreach>
                    </select>
                </div>
                <input type="text" class="form-control" placeholder="字段名称" style="width: 250px">
            </div>
            <div id="rule-box-{$field}">

            </div>
        </div>
    </foreach>
</div>

<div style="border-top: 1px solid #666666;padding: 30px 20px;">
    <div class="checkbox">
        <label>
            <input type="checkbox"> 列表
        </label>
    </div>
</div>

<div style="border-top: 1px solid #666666;padding: 30px 20px;">
    <div class="checkbox">
        <label>
            <input type="checkbox"> 新增
        </label>
    </div>
</div>

<div style="border-top: 1px solid #666666;padding: 30px 20px;">
    <div class="checkbox" style="display: inline-block;margin-right: 40px">
        <label>
            <input type="checkbox"> 修改
        </label>
    </div>

    <foreach name="fields" item="field">
        <div class="checkbox" style="display: inline-block">
            <label>
                <input type="checkbox"> {$field}
            </label>
        </div>
    </foreach>
</div>

<div style="border-top: 1px solid #666666;padding: 30px 20px;">
    <div class="checkbox">
        <label>
            <input type="checkbox"> 删除
        </label>
    </div>
</div>

<script>
    function changeTable() {
        var a = $('#choose_table').val();
        if(a){
            console.log("code/index/index?table="+a);
            window.location.href = "/code/index/index?table="+a;
        }
    }

    var rule = [];

    function changeVerify(obj,field) {
        var a = $(obj).val();
        var ruleList = [];
        var _html = '';
        $.each(a,function () {
            var strs = this.split("-");
            ruleList.push(strs);
            _html += '<div class="input-group" style="margin: 10px">';
            _html += ' <span style="width: 50px" class="input-group-addon" id="basic-addon1">'+strs[1]+'</span>';
            if(strs[2] == 2){
                _html += '<input type="text" class="form-control" id="rule-val-'+field+'-'+strs[0]+'" placeholder="'+strs[3]+'" aria-describedby="basic-addon1">';
            }else{
                _html += '<input type="text" class="form-control" disabled aria-describedby="basic-addon1">';
            }
            _html += '</div>';

        });
       $('#rule-box-'+field).html(_html);
        rule[field] = ruleList;
        console.log(rule);
    }
</script>
</body>
</html>